@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 11px;
    border: 3px solid #ffffff;
  }

.text-orange{
    color: rgb(255, 136, 25); 
}
.text-red{
    color: rgb(255, 0, 0); 
}
.text-green{
    color: rgb(0, 255, 0); 
}
.text-purple{
    color: rgb(200, 0, 255); 
}

.text-blue{
    color: rgb(17, 0, 255); 
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,h2 {
    font-family: 'Young Serif';
}

p, li, a, h3 {
    font-family: 'Montserrat';
}

.title{
    font-size: 125px;
    line-height: 1;
}

br {
    display:block; 
    margin-top:12px; 
    line-height:22px;
}

.card{
    background-color:  rgb(254, 253, 248);
}

.figure-img {
    width: 100%;
}

.page-section>.content-wrapper { display: flex; flex-basis: 100%; width: 0; }

header{
    opacity: 0;
    transition: all 1s ease-in-out;
    position:sticky;
    top: 0;
    z-index: 5;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(255, 255, 255);
}

#welcomeTitle{
    margin-top: -11em;
    position: relative; 
    z-index: -1;
    transition: all 1s ease-in-out;
}

#profil{
    position: relative;
    z-index: 2;
    width: 22.5em;
    cursor:pointer;
    filter: grayscale(1) drop-shadow(0 0 0.75rem rgb(160, 160, 160));
    transition: filter 0.3s ease-in-out, opacity 1.5s ease-in-out, margin-top 1s ease-in-out;
    margin-left: -5em;
    margin-top: 5em;
}

#profilBg{
    position: relative;
    z-index: -1;
    width: 19.7em;
    transform: scale(2.4);
    margin-top: 2em;
    margin-left: -3em;
    transition: all 1s ease-in-out;
}

#profilDesc{
    position: relative;
    width: 20em;    
    color: rgb(40, 40, 40);
    margin-top: 11.8em;
    margin-bottom: -18em;
    margin-left: -3.5em;
    z-index: 1;
    transition: opacity 1.5s ease-in-out;
}

#profilPart {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background {
    transition: opacity 1s ease-in-out, filter 0.5s ease-in-out; 
    position: absolute;
    z-index:-2; 
    width: 100%; 
    left:0; 
    top:0em; 
}

.btn:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(255, 255, 255);
}

hr {
    margin: 0 auto;
    color: rgb(166, 166, 166);
}

.card-body > .btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.trail { 
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
    filter: blur(5px);
}

canvas{
    position: absolute; 
    z-index: -1;
    top: 0; 
    left: 0; 
    width: 100%; 
    display: block;  
    filter: blur(4px);
    /* height: 100%; */
} 

#portfolio{
    z-index: 4;
    margin-top: 20em;
    position: sticky;
    top: 0;
}

footer{
    position: relative;
    top: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin-right: 0.5em;
    z-index: 6;
    padding-top: 2em;
}
footer img {
    width: 2em;
    margin-left: 0.25em; 
    margin-right: 0.25em; 
    opacity: 0.8;
    padding-bottom: 0.5em;
}

footer .contactLink {
    display: flex;
    justify-content: center; 
    gap: 1em; 
}

footer a {
    color: rgb(0, 0, 0, 0.8);
}

#competences {
    position: sticky;
    top: 0;
    width: 100%;
    padding-right: 1em;
    padding-top: 5em;
    padding-bottom: 24em;
    z-index: 3;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

#competences > div {
    z-index: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-inline: 0.5em;
    height: 100%;
}

#competences > div > div {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-inline: 0.5em;
    border: lightgray 1px solid;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255,0.7);
}

#competences h2 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#competences h2 {
    font-size: 1.5em;
    font-family: "Montserrat";
    padding: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}

#competences li {
    margin-top: 1em;
    font-size: 1.1em;
}


@media screen and (max-width: 1200px) {

    html {
        font-size: 0.8rem;
    }

    .title{
        font-size: 8em;
    }

    #background{
        margin-top: 20em;
        scale: 1.5;
    }
}

@media screen and (max-width: 948px) {

    html {
        font-size: 0.8rem;
    }

    .title{
        font-size: 8m;
    }

    #background{
        margin-top: 40em;
    }

    #competences {
        font-size: 0.9em;
        padding-top: 6.5em;
    }
}

@media screen and (max-width: 700px) {

    #profilDiv{
        margin-top: 8em;
    }

    #popupArticleLabel{
        font-size: 3em;
    }

    .btn-close{
        position: absolute;
        top: 2em;
        right: 6em;
    }

    #background{
        margin-top: 60em;
        scale: 2;
    }
    #competences {
        font-size: 0.8em;
        padding-top: 6.5em;
    }

    #profilDiv{
        margin-right: 45%;
        width: 8em;
    }

    .title{
        font-size: 7em;
        margin-top: 2em;
    }

}

@media screen and (max-width: 575px) {

    #competences {
        padding-right: 2em;
    }

    #competences {
        font-size: 0.7em;
        padding-top: 8.5em;
    }

    #competences h2 {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
    
    #competences li {
        margin-top: 0.5em;
    }

    #competences > div > div {
        min-height: 15vh;
    }

    .flex-grow-1 {
        margin-left: -50%;
    }
    
    #background{
        margin-top: 70em;
        scale: 2.5;
    }

    .btn-close{
        top: 2em;
        right: 1em;
    } 

    #mentionsContent{
        margin: 0;
    }
}
@media screen and (max-width: 450px) {
    #welcomeTitle{
        font-size: 0.7em;
    }
}

@media screen and (min-height: 1070px){
    #background{
        margin-top: 15em;
    }
}

@media screen and (max-width: 1200px) and (min-height: 1070px){
    #background{
        margin-top: 30em;
    }
}

@media screen and (max-width: 948px) and (min-height: 1070px){
    #background{
        margin-top: 40em;
    }
}

@media screen and (max-width: 575px) and (min-height: 1070px){
    #background{
        margin-top: 60em;
    }
}

