@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 11px;
    border: 3px solid #ffffff;
  }

.text-purple{
    color: rgb(182, 39, 182); 
}
.text-orange{
    color: rgb(255, 136, 25); 
}
.text-red{
    color: rgb(255, 0, 0); 
}
.text-green{
    color: rgb(0, 255, 0); 
}

body{
    position: relative;
    margin: 0;
    padding: 0;
}

h1,h2 {
    font-family: 'Young Serif';
}

.title{
    font-size: 125px;
    line-height: 1;
}

br {
    display:block; margin-top:12px; line-height:22px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 30%;
    display: block !important;
    border:0px solid rgb(54, 54, 54);
    scale: 5;
}

.owl-prev {
    margin-left: -50px;
}

.owl-next {
    right: -50px;  
}

.owl-prev i, .owl-next i {
    transform : scale(1,6); 
    color: #ccc;
}

.owl-main{
    width: 100%;
    margin: 0 auto;

}
.owl-modal{
    width: 90%;
    margin: 0 auto;
}

.modal-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 95vh;
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}
.modal-content::-webkit-scrollbar-track-piece  {
    background-color: rgb(248, 247, 242);
}

.owl-modal ,.figure-img{
    margin-left: auto;
    margin-right: auto;
}

.page-section>.content-wrapper { display: flex; flex-basis: 100%; width: 0; }

#welcomeTitle{
    margin-top: -10em;
    position: relative; 
    z-index: -1;
    transition: all 1s ease-in-out;
}

#profil{
    z-index: 1;
    width: 20em;
    cursor:pointer;
    filter: grayscale(1) drop-shadow(0 0 0.75rem rgb(160, 160, 160));
    transition: filter 0.3s ease-in-out, opacity 1.5s ease-in-out, margin-top 1s ease-in-out;
    margin-left: -5em;
    margin-top: 0em;
}

#profilBg{
    position: relative;
    z-index: -1;
    width: 19.7em;
    transform: scale(2);
    margin-top: 5em;
    margin-left: -3em;
    transition: all 1.5s ease-in-out;
}

#profilDesc{
    position: relative;
    width: 16em;    
    color: rgb(40, 40, 40);
    margin-top: 5em;
    margin-bottom: -18em;
    margin-left: -2em;
    z-index: 1;
    transition: opacity 1.5s ease-in-out;
}

#background {
    transition: opacity 1s ease-in-out, filter 0.5s ease-in-out; 
    position: absolute;
    z-index:-2; 
    width: 100%; 
    left:0; 
    top:12em; 
}

.btn:hover {
    background-color: rgb(199, 199, 199);
    color: rgb(255, 255, 255);
}

hr {
    margin: 0 auto;
    color: rgb(166, 166, 166);
}

.card-body > .btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-header > h1 {
    font-size: 4em;
    margin-bottom: -1em;
}

.modal-dialog {
    max-width: 90%;
    height: 30%;
    margin-top: 1em;
}

.modal-content {
    background-color: rgb(248, 247, 242);
}

.modal-body p {
    font-family: 'Montserrat';
    width: 50%;
}

.modal-bold {
    font-weight: bold;
}

.owl-modal > .owl-nav > .owl-prev{
    margin-left:2em;
    top: 10%;
}   

.owl-modal > .owl-nav > .owl-next {
    margin-right: 6em;
    top: 10%;
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
    filter: blur(5px);
}

canvas{
    position: absolute; 
    z-index: 0;
    top: 0;  
    width: 100%; 
    display: block;  
    filter: blur(4px);
    height: 96%;
} 

#portfolio{
    margin-top: 4em;
    margin-bottom: 4em;
}

#contactContent, #mentionsContent{
    position : absolute;
    width: 100%;
    left: 0;
    background-image: url('../images/background.png');
    background-position: left;
    background-size: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: -4;
    bottom: 5em;
    opacity: 0;
    transition: all 1.5s ease-in-out;
    filter: brightness(1.15);
}

#blockContact{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 17em;
    z-index: -3;
    bottom: 0em;
}

#contactLink, #mentionsLink{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    html {
        font-size: 0.8rem;
    }

    .title{
        font-size: 8em;
    }

}

@media screen and (max-width: 1200px) {
    .owl-main, .owl-modal{
        width: 90%;
    }
    #background{
        margin-top: 10em;
    }
}

@media screen and (max-width: 640px) {
    .owl-main, .owl-modal{
        width: 70%;
    }

    #profil{
        width: 12em;
        margin-top: -2em;
    }

    #profilBg{
        width: 13.7em;
        margin-top: 4em;
        margin-left: -8em;
    }
    
    #profilDesc{
        position: relative;
        width: 16em;    
        font-size: 1em;
        margin-top: -2em;
        margin-left: -8em;
        
    }

    .title{
        font-size: 4em;
    }

    .modal-content{
        left: 12%;
    }

    #popupArticleLabel{
        font-size: 3em;
    }

    .modal-body{
        font-size: 0.75em;
    }

    .modal-content{
        margin-left: -5em;
        margin-top: 2em;
    }

    .btn-close{
        position: absolute;
        top: 2em;
        right: 6em;
    }

    #background{
        margin-top: -2em;
        height: 55em;
    }
}

@media screen and (max-width: 575px) {

    #profilDiv{
        margin-top: 30em;
    }

    #profil, #profilBg, #profilDesc{
        position: absolute;
        top: 5em;
        left: 50%;
        translate : translateX(-50%);
    }

    #profilDesc{
        top: 12em;
    }

    .modal-content{
        margin-left: -2em;
        margin-right: 2em;
        width: 100%;
    }

    .modal-body{
        margin: 0;
    }

    .owl-modal{
        width: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: auto;
        max-height: 55em;
    } 

    .owl-modal::-webkit-scrollbar {
        display: none;
    }
    
    .item > p, .modal-body > p {
        width: 100%;
    }

    .figure > img {  
        width: 100%;
    }
    
    .owl-modal > .owl-nav{
        left: 0;
        /* display: none; */
    }

    .owl-modal > .owl-nav > .owl-prev{
        left: -1.5em;
        top: 0;
    }

    .owl-modal > .owl-nav > .owl-next{
        right: -5.5em;
        top: 0;
    }

    #background{
        margin-top: 20em;
    }

    .btn-close{
        top: 2em;
        right: 1em;
    }

    canvas{
        height: 90%;
    }

    #mentionsContent{
        margin: 0;
        
    }
}
