@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes anim1 {
    from { left: -11vw; } 
    to { top: 0; left: 111vw; } 
}
@keyframes anim2 {
    from { left: -11vw; } 
    to { top: 40vw; left: 111vw; } 
}
@keyframes anim3 {
    from { left: -11vw; } 
    to { top: 80vw; left: 111vw; } 
}

.imgtest {
    position: absolute;
    width: 10vw;
    height: auto;
}

* {
scrollbar-width: auto;
scrollbar-color: #c7c7c7 #ffffff;
font-family: Poppins, sans-serif;
}

*::-webkit-scrollbar {
width: 18px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #c7c7c7;
border-radius: 11px;
border: 3px solid #ffffff;
}

html {
    font-size: 100%; /* 16px */
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: hsl(0, 0%, 100%, 50%);
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

h2,h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#portfolioTitre {
    position: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

#portfolioTitre img:first-of-type, #projetsTitre{
    width: 80%; 
    text-align: center;
}

#portfolioTitre #sousTitre{
    width: 15%; 
    position: absolute;
    top: 80%;
}

.bandeau {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.bandeau-contenu {
    display: flex;
    animation: defilement 140s linear infinite; /* Animation du défilement */
    height: 100vh; 
}

.bandeau-contenu img {
    width: 100%; /* Chaque image prend toute la largeur du conteneur */
    flex-shrink: 0; /* Empêche les images de se rétrécir */
}

#paysageImg {
    width: 100%; 
    margin-top: 18%;
}

#accueilBtm {
    height: 20vh; 
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(360deg, rgb(236, 236, 236) 0%, rgba(250,250,250,0) 100%);
    display: flex;
    justify-content: center; 
}

#accueilBtm div {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

#accueilBtm p {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0)    ;
}

#accueilBtm .chevron {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Left angled line */
    border-right: 10px solid transparent; /* Right angled line */
    border-top: 10px solid black; /* Top border forms the downward triangle */
    margin-top: 20px;
    margin-inline: 18px;
}

.aPropos {
    display: flex; 
    align-items: center;
    padding-inline: 20em; 
    padding-top:2em;
    padding-bottom: 2em;
    background-color: rgb(48, 48, 48);
}

.aPropos #PhotoProfil {
    object-fit: contain;
    margin-inline: 4em;
    width: 11em;
    margin-bottom: 20px;
}

.apercu img {
    height: 15vh;
    width: 12.5%;
    object-fit: cover;
}

@keyframes defilement {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#aPropos {
    width: 20%;
    position: absolute;
    z-index: 2;
    left: 5em;
}

h2 {
   text-align: center; 
   font-weight: bold; 
   font-size: 50px;
}

.titreContour {
    color: white; /* Text color */
    text-shadow:
        2px 2px 2px #c575c2,
        -2px 2px 2px #c575c2,
        2px -2px 2px #c575c2,
        -2px -2px 2px #c575c2,
        0px 2px 2px #c575c2,
        0px -2px 2px #c575c2,
        2px 0px 2px #c575c2,
        -2px 0px 2px #c575c2;
    font-size: 400%;
    width: 100% !important;
}

.titreContour2 {
    color: white;
    text-shadow:
    1px 1px 1px #cacaca,
    -1px 1px 1px #cacaca,
    1px -1px 1px #cacaca,
    -1px -1px 1px #cacaca,
    0px 1px 1px #cacaca,
    0px -1px 1px #cacaca,
    1px 0px 1px #cacaca,
    -1px 0px 1px #cacaca;
} 

#competences {
    width: 100%;             
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#tableComp{
    /* margin-inline: 10em; */
    /* border-collapse: separate; 
    border-spacing: 3em; */
    width: 100%;
}

#tableComp tr {
    border-bottom: 1px #333;
    border-style: dashed solid;
    color: lightgray;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
    padding-inline: 10%;
}

#tableComp td{
    padding: 1em;
    
}

#tableComp td:first-of-type{
    width: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-left: 10em;
}

#tableComp td:first-of-type.visible{
    opacity: 1;
}

#tableComp img {
    width: 10em;
}

#tableComp h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.title1, .text-blue {
    color: rgb(42, 27, 255)
}

.title2, .text-red {
    color: red
}

.title0, .text-purple {
    color: rgb(197, 22, 233)
}

.title3, .text-orange {
    color: orange
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hidden2 {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#footer{
    position: relative;
    top: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 6;
    margin-top: 50em;
}

footer hr {
    border:none;
    border-top: 1px dotted black;
    margin-top: 0;
}

footer .rowflex img {
    width: 2em;
    margin-left: 0.25em; 
    margin-right: 0.25em; 
    opacity: 0.8;
    padding-bottom: 0.5em;
}

footer .contactLink {
    display: flex;
    justify-content: center; 
    gap: 1em; 
}

.rowflex {
    display: flex;
    justify-content: center;
}

.rowflex img {
    width: 90%;
}

@media screen and (max-width: 1260px) {
    .aPropos {
        padding-inline: 8em;
    }
}

@media screen and (max-width: 1060px) {
    html {
        font-size: 80%;
    }

    p, li {
        font-size: 16px;
    }

    /* #portfolioTitre {
        margin-top: 20%;
    } */

    #accueilBtm p {
        font-size: 20px;
    }

    #accueilBtm .chevron {
        margin-top: 12px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid black;
    }

    footer a {
        font-size: 16px;
    }
    
    #footer {
        margin-top: 55em;
    }
}

@media screen and (max-width: 890px) {
    html {
        font-size: 60%;
    }

    .bandeau-contenu {
        height: 100vh;
    }

    #tableComp img {
        width: 14em;
    }

    #tableComp td:first-of-type {
        padding-left: 10px;
    }

    .titreContour {
        font-size: 600%;
    }

    #footer {
        margin-top: 70em;
    }

}

/*mode tablette*/
@media screen and (max-width: 720px) {

    #portfolioTitre img:first-of-type, #projetsTitre{
        width: 100%; 
    }
 

    .bandeau-contenu {
        height: 90vh;
    }

    /* #portfolioTitre {
        margin-top: 30%;
    } */

    #tableComp img {
        width: 12em;
    }

    #tableComp li {
        font-size: 16px;
    }

    .aPropos #PhotoProfil {
        width: 20em;
    }

    .aPropos div {
        flex-direction: column;
    }

    .aPropos h3 {
        font-size: 30px;
    }

    footer a {
        font-size: 16px;
    }

    footer div div:first-child {
        flex-direction: column;
    }
}

/*mode telephone*/
@media screen and (max-width: 490px) {
    html {
        font-size: 50%;
    }

    #portfolioTitre img:first-of-type, #projetsTitre {
        width: 150%; 
    }
  

    .bandeau-contenu {
        height: 90vh;
    }
/* 
    #portfolioTitre {
        margin-top: 60%;
    } */

    #paysageImg {
        width: 150%;
        margin-top: 80%;
        overflow: hidden;
    }

    .aPropos {
        padding-inline: 10%; 
    }

    #tableComp tr {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    #tableComp td:first-of-type {
        width: 100%;
    }

    #tableComp img {
        width: 16em;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #tableComp h3 {
        font-size: 20px;
    }

    #footer {
        margin-top: 80em;
    }

    footer h2 {
        font-size: 10px;
    }
}