
.modal-dialog {
    width: 70%;
    height: 100%;
    max-width: none;
}

.modal-header {
    padding-bottom: 0;
}

.modal-header h2 {
    font-weight: bold;
    font-size: 3em;
}

.modal-body > p {
    text-align: left;
}

.modal-body > h3 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

.modal-body {
    padding-inline: 5em;
    text-align: center;
}

.modal-body > figure {
    width: 70%;
}

.owl-carousel .owl-item img {
    display: block;
    width: 80%;
}

.owl-modal, .figure-img {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1em; */
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        width: 90% !important;
        height: 100%;
        margin-left: 5%;
        font-size: 1.2em;
    }

    .modal-header h2 {
        font-size: 2.5em;
    }

    .modal-body > figure {
        width: 100%;
    }

    .modal-body {
        padding-inline: 3em;
    }

    .owl-modal {
        width: 90%;
    }    

    .index {
        font-size: 1em;
    }

    .owl-modal {
        padding-inline: 0;
    }
}

@media screen and (max-width: 435px){
    .modal-dialog {
        width: 100% !important;
        margin: 0;
        font-size: 0.7em;
        margin-top: 2em;
    }

    .modal-body > figure {
        width: 80%;
    }

    .modal-dialog  p {
        font-size: 1.5em;
        width: 100%;
    }
    
    .owl-carousel .owl-item img {
        width: 100%;
    }

    *::-webkit-scrollbar {
        width: 10px;
      }
}